<!DOCTYPE html>
<html>
<head>
    <title>Setup Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h2>Setup New Password</h2>
    <form method="POST" action="/customer/setup_password">
        <input name="account_no" placeholder="Account Number" required>
        <input name="old_password" placeholder="Temporary Password" required>
        <input type="password" name="new_password" placeholder="New Password" required>
        <button type="submit">Set Password</button>
    </form>
</div>
</body>
</html>
